catkin-pkg==1.0.0
colcon-common-extensions==0.3.0
colcon-ros==0.4.1
contourpy==1.2.0
cycler==0.12.1
fonttools==4.50.0
kiwisolver==1.4.5
matplotlib==3.8.3
mpl-tools==0.4.0
ntlm-auth==1.5.0
numpy==1.26.4
opencv-python==4.9.0.80
packaging==24.0
pandas==2.2.2
pillow==10.2.0
pymodbus==3.6.5
pyModbusTCP==0.2.1
pyparsing==3.1.2
python-dateutil==2.9.0.post0
pytz==2024.1
shapely==2.0.4
six==1.16.0
tzdata==2024.1
